*{
  margin:0;
  padding:0;
  font-family: 'poppins' sans-serif;
  box-sizing: border-box;
  background: rgb(180, 178, 175);
}
#border{
    
  border: 3px solid rgb(180, 178, 175);
  height: 350px;
  width: 300%;
 max-width: 540px;

 background: #fff;
 margin: 100px auto 20px;
 padding: 40px 30px 70px;
 border-radius: 10px;

} 

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  border-radius: 30px;
}
.search-bar button {
  
  padding: 5px 10px;
  background-color:black;
  color: #fff;
  border: 2px;
  border-radius: 30px;
 
  cursor: pointer;
} 

#search-input {
  
  flex: 1;
  margin-left: 5px;
  padding: 5px;
  border: none;
  outline: none;
}
#add-button:hover {
 
border-color: #040f1b;
}

img { 
  
  width: 25px;
  height: 30px;
  padding: 2px;
  margin: 3px;
  border: 5px;
} 

 .list-item {
 
  display: flex;
  align-items: center;

   
  background-color: #fff;
} 

.list-item span {
  background-color: #fff;
  flex: 1;
  
}

.list-item button {
  background-color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
ul li{
  background: #fff;
  list-style: none;
  font-style: 17px;
  padding:12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
} 
.list-item ::before{
content: '';
position: absolute;
height: 28px;
width:28px;
border-radius: 50px;
background-image: url(https://upload.wikimedia.org/wikipedia/foundation/thumb/6/6b/Ooui-checkbox.svg/480px-Ooui-checkbox.svg.png);
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
} 

.container{
  border-bottom: 1px solid #ccc; 
  background-color: white;
  /* text-decoration: underline; */
  color: rgb(180, 178, 175);
 }
 .marked-A{
  
  background-color: white;
  display: inline;
 
 }
 #marked-B{
  
  position: relative;
  left: 250px;
 }
  #one {
  position: relative;
  top: 10px;
  border: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  }
  #add-button-1 {
      position: relative;
      left: 275px;
      padding: 5px 10px;
      background-color: #fff;
      
      color: #000;
      border: 2px;
      cursor: pointer;
    }
    #add-button-2{
      position: relative;
      left: 225px;
      padding: 5px 10px;
      background-color: #fff;
      
      color: #000;
      border: 2px;
      cursor: pointer;
    }
    #add-button-3{
       position: relative;
      left: 299px;
      padding: 5px 10px;
      background-color: #fff;
      
      color: #000;
      border: 2px;
      cursor: pointer;
    } 
    .container-1{
      border-top: 1px solid #ccc; 
      background-color: white;
      /* text-decoration: underline; */
      color: rgb(180, 178, 175);
     }
     .marked{
     background-color: white;
     display: inline;
   }
     #marked2{
      color: #000;
      position: relative;
      left: 250px;

     }
     #marked3{
     
      position: relative;
      left: 250px;
     }
     #marked4{
    
      position: relative;
      left: 250px;
      cursor: pointer;
     }